.main {
  display: flex;
  padding: 30px 100px 0 100px;
  background-color: #fbfbfb;
}

.imgCon {
  display: flex;
}

.img1,
.img2,
.img3 {
  margin-bottom: 30px;
  margin-right: 30px;
  width: 270px;
  object-fit: cover;
}

.img2 {
  margin-top: 30px;
  object-fit: cover;
}

.img3 {
  margin-bottom: 0;
}

.textCon {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.textCon p {
  max-width: 400px;
  font-family: TT Hoves;
  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
}

.textCon h2 {
  font-family: TT Hoves;
  font-size: 64px;
  font-weight: 200;
  line-height: 64px;
  letter-spacing: 0em;
  text-align: left;
  color: #bdbdbd;
}
