.baner {
  position: relative;
  width: 770px;
}
.banerLink {
  position: absolute;
  bottom: 0;
}

.banerText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 120px;
}

.banerText button {
  display: flex;
  width: 53px;
  height: 53px;
  justify-content: center;
  align-items: center;

  background-color: #f9f9f9;
  border: 1px solid #f2f2f2;
}
.banerText button:active {
  background-color: #f2f2f2;
}

.banerText button img {
  height: 8px;
}

.buttonBlock {
  display: flex;
  align-self: center;
  justify-content: space-between;
  width: 130px;
}
.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-family: TT Hoves;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #e0e0e0;
}
.line {
  background-color: #e0e0e0;
  height: 44px;
  width: 2px;
  transform: rotate(-134.98deg);
  margin: 0 25px;
}
.banerText > div {
  margin-top: 90px;
}
.banerText h1 {
  font-family: TT Hoves;
  font-size: 64px;
  font-weight: 300;
  line-height: 64px;
  letter-spacing: 0em;
  text-align: left;
  color: #bdbdbd;
}
.banerText h2 {
  font-family: TT Hoves;
  font-size: 64px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: 0em;
  text-align: left;
}
