@import "./../../../style/color";
@import "./../../../style/font";
.baner {
  position: relative;
  width: 770px;
}

.banerLink {
  position: absolute;
  bottom: 0;
}

.banerText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 120px;

  button {
    display: flex;
    width: 53px;
    height: 53px;
    justify-content: center;
    align-items: center;
    background-color: $button-background-color;
    border: 1px solid $button-background-color-active;

    &:active {
      background-color: $button-background-color-active;
    }

    img {
      height: 8px;
    }
  }
}

.buttonBlock {
  display: flex;
  align-self: center;
  justify-content: space-between;
  width: 130px;
}

.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-family: $main-font;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: $font-color-3;
}

.line {
  background-color: $font-color-3;
  height: 44px;
  width: 2px;
  transform: rotate(-134.98deg);
  margin: 0 25px;
}

.banerText {
  h1 {
    font-family: $main-font;
    font-size: 64px;
    font-weight: 300;
    line-height: 64px;
    letter-spacing: 0em;
    text-align: left;
    color: $title-color-font;
  }

  h2 {
    font-family: $main-font;
    font-size: 64px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0em;
    text-align: left;
  }
}

.buttandcount {
  display: flex;
  flex-direction: column;
  justify-content: center;
  > div {
    margin-top: 90px;
  }
}

@media (max-width: 1200px) {
  .baner {
    width: 550px;
  }
}

@media (max-width: 1024px) {
  .banerText {
    margin-right: 30px;
  }
}

@media (max-width: 924px) {
  .main {
    flex-direction: column-reverse;
  }
  .banerText {
    margin-right: 0;
    h1 {
      margin-right: 10px;
    }

    div {
      margin-top: 30px;
    }
  }
  .heading {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .buttandcount {
    flex-direction: row;
  }
  .buttonBlock {
    margin-right: 90px;
  }
}

@media (max-width: 630px) {
  .heading {
    flex-direction: column;
  }
  .baner {
    width: 440px;
  }
}
