.main {
  display: flex;
  flex-direction: column;
  width: 1170px;
}

.main h1 {
  font-family: TT Hoves;
  font-size: 64px;
  font-weight: 300;
  line-height: 64px;
  letter-spacing: 0em;
  text-align: left;
  color: #bdbdbd;
  margin-bottom: 22px;
}

.Link {
  align-self: flex-start;
}
.contactCon {
  display: flex;
  flex-direction: row;
}
.input,
.textarea {
  width: 100%;
  border: 0;
  outline: none;

  margin-bottom: 10px;
}

.textarea {
  margin-bottom: 0;
  resize: none;
  height: 100%;
}

.inputCon {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contactCon img {
  height: 369px;
  margin-left: 30px;
}

.checkbox {
  outline: 0;
  height: 24px;
  width: 24px;
  margin-right: 1em;
}

.checkboxCon {
  align-items: center;
  display: flex;
  flex-direction: row;
  max-width: 515px;
  align-self: flex-start;
  display: flex;
  box-shadow: 0px 0px 0px 0px #0099fa27 inset;
  margin: 21px 0;
}

.checkboxCon p {
  font-family: TT Hoves;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0.03em;
  text-align: left;
}
