@import "../../../style/color";
@import "./../../../style/font";
.main {
  display: flex;
  flex-direction: column;
  width: 1170px;

  h1 {
    font-family: $main-font;
    font-size: 64px;
    font-weight: 300;
    line-height: 64px;
    letter-spacing: 0em;
    text-align: left;
    color: $title-color-font;
    margin-bottom: 22px;
  }
}

.Link {
  align-self: flex-start;
}

.contactCon {
  display: flex;
  flex-direction: row;

  img {
    object-fit: cover;
    height: 369px;
    width: 749px;
    margin-left: 30px;
    object-position: 50% 50%; /* задает центр обрезки */
  }
}

.input {
  width: 100%;
  border: 0;
  outline: none;
  margin-bottom: 10px;
}

.textarea {
  width: 100%;
  border: 0;
  outline: none;
  margin-bottom: 10px;
  margin-bottom: 0;
  resize: none;
  height: 100%;
}

.inputCon {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.checkbox {
  outline: 0;
  height: 24px;
  width: 24px;
  margin-right: 1em;
}

.checkboxCon {
  align-items: center;
  display: flex;
  flex-direction: row;
  max-width: 515px;
  align-self: flex-start;
  display: flex;
  margin: 21px 0;

  p {
    font-family: $main-font;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0.03em;
    text-align: left;
  }
}

@media (max-width: 1250px) {
  .main {
    width: auto;
  }
  .inputCon {
    min-width: 290px;
  }
  .contactCon {
    img {
      object-fit: cover;
      height: 369px;
      width: calc(100% - 320px);
      margin-left: 30px;
      object-position: 100% 50%; /* задает центр обрезки */
    }
  }
}
@media (max-width: 1060px) {
  .contactCon {
    flex-direction: column-reverse;
    width: 100%;
    img {
      margin-bottom: 30px;
      width: 100%;
      margin-left: 0;
    }
  }
}
@media (max-width: 740px) {
  .contactCon {
    flex-direction: column-reverse;
    width: 100%;
    img {
      height: 200px;
    }
  }
}
