// @import "./../../../style/color";

$main-background-color: #fff;
$background-color-2: #fbfbfb;
$input-background-color: #f3f3f3;

$main-font-color: #333333;
$font-color-2: #c8c8c880;
$font-color-3: #e0e0e0;
$font-color-4: #f2f2f2;
$title-color-font: #bdbdbd;
$placeholder-font-color: #8d8d8d;
$attantion-font-color: #c30000;

$button-background-color: #f9f9f9;
$button-background-color-active: #f2f2f2;

$footer-font-color: #fff;
$footer-background-color: #2c2c2c;
