@import "./../../style/color";
@import "./../../style/font";
.main {
  display: flex;
  flex-direction: column;
  width: 100vw;
  background-color: $footer-background-color;
  padding: 0 115px;
  padding-top: 58px;
  align-items: center;
  font-family: $main-font;
  color: $footer-font-color;
}

.logo {
  height: 94px;
}

.textblock {
  display: flex;
  flex-direction: column;
}

.contact {
  margin-left: 19px;
  max-width: 314px;
}

.mainlink {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 14px;
  margin-bottom: 16px;
}

h4 {
  margin-bottom: 25px;
}

.icon {
  width: 20px;
  height: 20px;
}

.social {
  display: flex;
  align-items: center;
  margin-right: 40px;
}

.logo,
.textblock {
  margin-right: 80px;
}

.maincontent {
  display: flex;
}

.copyright {
  margin-top: 60px;
  height: 70px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
  color: $font-color-2;
  border-top: 1px solid $font-color-2;
}

@media (max-width: 1024px) {
  .main {
    padding: 0 80px;
    padding-top: 58px;
  }
}
@media (max-width: 925px) {
  .main {
    padding: 0 40px;
    padding-top: 58px;
  }
  .maincontent {
    justify-content: left;
    flex-direction: column;
    flex-wrap: wrap;
    > * {
      margin: 0;
    }
    > * {
      margin-bottom: 30px;
    }
  }
}
